.wrap {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: white;
  width: 90%;
  max-width: 1000px;
}

.widget {
  width: 40%;
  margin: 1em;
  display: inline-flex;
}

.widget p {
  display: inline-block;
  line-height: 1em;
}

.date {
  font-family: oswald, Arial;
  text-align: center;
  font-size: 1em;
  padding-right: 15px;
  width: 100%;
}

.watch {
  display: -webkit-inline-box;
}
